.BoardCells {
    width: 350px;
    height: 350px;
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    box-sizing: border-box;
    /* margin: auto; */
}